.conteiner {
  border-radius: 25px;
  box-shadow: 0 0 70px -10px rgba(0, 0, 0, 0.2);
  background-color: #222831;
  color: #ffffff;
  height: 60vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 40vw;
  margin-top: 10% auto;
}

.weatherSide {
  height: 100%;
  border-radius: 25px;
  background-image: url("https://images.unsplash.com/photo-1559963110-71b394e7494d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80");
  width: 25vw;
  box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.2);
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  -o-transition: transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
  -webkit-transform: translateZ(0) scale(1.02) perspective(1000px);
  transform: translateZ(0) scale(1.02) perspective(1000px);
}

.weatherSide:hover {
  -webkit-transform: scale(1.1) perspective(1500px) rotateY(10deg);
  transform: scale(1.1) perspective(1500px) rotateY(10deg);
}

.weatherGradient {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 25px;
  opacity: 0.8;
  background-image: linear-gradient(135deg, #248d91 10%, #5151e5 100%);
  border: 2px solid gray;
}

.dateConteiner {
  display: flex;
  flex-direction: column;

  align-items: flex-start;
}

.dateDay {
  text-align: start;
  margin-bottom: 0;
  margin-left: 1rem;
}

img {
  width: 50px;
  height: auto;
}

.locationConteiner {
  display: flex;
  flex-direction: row;
  flex: 1;
  border: 1ox solid black;
  align-items: flex-start;
  justify-content: start;
}

.locationName p {
  margin: 2px 0;
  padding: 3px 0;
  text-decoration: none;
}

.weatherConteiner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 1rem;
  position: relative;
  height: 60%;
  margin-top: 1rem;
}

.weatherTemp {
  position: absolute;
  font-size: 4rem;
  margin: 0;
  bottom: 1rem;
  left: 0;
}

.weatherIcon {
  width: 5rem;
  padding: 0;
  position: absolute;
  bottom: 5.5rem;
}
.weatherDes {
  position: absolute;
  bottom: 0;
  margin: 0;
  font-size: 0.8rem;
}

.infoSide {
  width: 25vw;
  border-radius: 25px;
  padding-top: 2rem;
}

.info {
  margin: 0 25px 25px 25px;
  box-shadow: 0 0 50px -5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.infoTemp {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
  border-left: 3px solid white;
  width: 100%;
}

.valueTemp {
  font-size: 2rem;

  padding: 0.5rem;
}

.infoTempConteiner {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  margin-bottom: 2rem;
}
.info > div:not(:last-child) {
  margin: 0 0 10px 0;
}

.info > div .title {
  float: left;
  font-weight: 700;
}

.info > div .value {
  float: right;
}

.locationButton {
  outline: none;
  width: 80%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  border-radius: 25px;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  background-image: linear-gradient(135deg, #248d91 10%, #5151e5 100%);
  color: #ffffff;
  font-weight: 700;
  -webkit-box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  -webkit-transition: -webkit-transform 200ms ease;
  transition: -webkit-transform 200ms ease;
  -o-transition: transform 200ms ease;
  transition: transform 200ms ease;
  transition: transform 200ms ease, -webkit-transform 200ms ease;
}

.locationButton:hover {
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

.locationButton .feather {
  height: 1em;
  width: auto;
  margin-right: 5px;
}
